<form>
  <div>
    <input
      type="radio"
      id="worker"
      name="thread"
      value="worker"
      [(ngModel)]="thread"
    />
    <label for="worker">worker</label><br />
    <input
      type="radio"
      id="main"
      name="thread"
      value="main"
      [(ngModel)]="thread"
    />
    <label for="main">Main</label><br />
  </div>
</form>

<div style="margin-top: 2em">
  <input #input type="number" value="12345678" />
  <button
    [disabled]="inProgress"
    type="button"
    (click)="fibonacciSeries(+input.value)"
  >
    Submit
  </button>
</div>
<div>
  <div>Time:{{ time }}</div>
</div>
